{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
{% endblock %}

{% block brand %}
Flack - Online Chatting <span class="room-name">Room: {{room_name}}</span>
{% endblock %}

{% block links %}
<a href="/leave/{{room_name}}" class="navigation-link">Leave Room</a>
{% endblock %}

{% block content %}



<div class="wrap-chat">
    <div class="chat-list">
        {% for message in messages %}
            <div class="message">
                <div class="message-name">
                    {{message.0}}
                </div>
                <div class="message-text">
                    {{message.1}}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="chat-box">
        <form class="chat-form" action="/add" method="POST">
            <div class="row">
            <div class="wrap-input wrap-message col-10">
                <input type="text" placeholder="Type your message..."  name="message" required>

            </div>
            <input type="hidden" name="room_name" value="{{room_name}}">
            <div class="wrap-input wrap-submit col-2">
                <input type="submit" value=">">
            </div>
            </div>
        </form>
    </div>
    
</div>

<script>
    chats = document.querySelector(".chat-list")
    chats.scrollBy(0, chats.scrollHeight)
</script>
{% endblock %}