{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
{% endblock %}

{% block scripts %}
<script defer type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script defer src="{{url_for('static', filename='chat.js')}}"></script>
{% endblock %}


{% block brand %}
Flack - Online Chatting <span class="room-name">Room: {{room_name}}</span>
{% endblock %}

{% block links %}
<a href="/leave/{{room_name}}" class="navigation-link">Leave Room</a>
{% endblock %}

{% block content %}

<script>

</script>


<div class="wrap-chat">
    <div class="chat-list">
        {% for message in messages %}
            <div class="message">
                <div class="message-name">
                    {{message.0}}
                </div>
                <div class="message-text">
                    {{message.1}}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="chat-box">
        <form class="chat-form" onsubmit="return false;">
            <div class="row">
            <div class="wrap-input wrap-message col-10">
                <input type="text" id="message" placeholder="Type your message..."  name="message" required>

            </div>
            <input type="hidden" name="room_name" id="room_name" value="{{room_name}}">
            <input type="hidden" name="username" id="username" value="{{username}}">
            <div class="wrap-input wrap-submit col-2">
            <input id="send" type="button" value=">">
            </div>
            </div>
        </form>
    </div>
    
</div>


{% endblock %}




