{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock %}

{% block content %}

<div class="wrap-centered-form">

    <div class="container-login">
        <form class="form-login" action="/join" method="post">
            <div class="form-title">
                Sign In Below To Enter a Chat Room
            </div>
            <div class="wrap-input">
                    <input class="input-pad" type="text" name="username" placeholder="Display Name">
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-user"></i>
                    </span>
            </div>
            <div class="wrap-input">
                    <select name="gender">
                        <option>Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <span class="focus-input"></span>
            </div>
            <div class="wrap-input">
                <input type="submit" value="Join the Chat">
            </div>

        </form>

    </div>

</div>

{% endblock %}