{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
{% endblock %}

{% block content %}

<div class="wrap-centered-form">

    <div class="container-login">
        <form class="form-login" action="/login" method="post">
            <div class="form-title">
                Sign In Below To Enter a Chat Room
            </div>
            {% with messages=get_flashed_messages(with_categories=true) %}
                {% for message in messages %}
                {% if message.0 == "warning" %}
                <div class="alert alert-warning login-message">
                    {{message.1}}
                </div>
                {% endif %}
                {% if message.0 == "error" %}
                <div class="alert alert-danger login-message">
                    {{message.1}}
                </div>
                {% endif %}
                {% if message.0 == "success" %}
                <div class="alert alert-success login-message">
                    {{message.1}}
                </div>
                {% endif %}
                {% endfor %}
            {% endwith %}
            <div class="wrap-input">
                    <input class="input-pad" type="text" name="username" placeholder="Display Name" required>
                    <span class="focus-input"></span>
                    <span class="symbol-input">
                        <i class="fa fa-user"></i>
                    </span>
            </div>
            <div class="wrap-input">
                    <select name="gender" required>
                        <option value="">Gender</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                    <span class="focus-input"></span>
            </div>
            <div class="wrap-input">
                <input type="submit" value="Join the Chat">
            </div>

        </form>

    </div>

</div>

{% endblock %}