{% extends 'layout.html' %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='join.css')}}">
{% endblock %}

{% block content %}


<div class="wrap-join-flash ">
    {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for message in messages %}
        {% if message.0 == "primary" %}
        <div class="alert alert-primary col-9">
            {{message.1}}
        </div>
        {% endif %}
        {% if message.0 == "warning" %}
        <div class="alert alert-warning col-9">
            {{message.1}}
        </div>
        {% endif %}
        {% if message.0 == "error" %}
        <div class="alert alert-danger col-9">
            {{message.1}}
        </div>
        {% endif %}
        {% if message.0 == "success" %}
        <div class="alert alert-success col-9">
            {{message.1}}
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="wrap-join-form row">
    <div class="col-lg-4 col-md-5 col-sm-6">
        <form action="/create" method="post">
            <div class="form-title">
                Create a New Chat Room
            </div>

            <div class="wrap-input">
                <input type="text" name="name" placeholder="Chat Room Name" required>
            </div>
            <div class="wrap-input">
                <input type="text" name="topic" placeholder="Topic" required>
            </div>
            <div class="wrap-input">
                <input type="submit" value="Create Chat Room">
            </div>
        </form>
        <br>


    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 large-only"></div>
    
    <div class="col-lg-4 col-md-5 col-sm-6">

        <form action="/join_room" method="post">
            <div class="form-title">
                Join an existing Chat Room

            </div>
            <div class="wrap-input">
                <select name="room_name" value="" required>
                    <option>Select a Chat Room</option>
                    {% for room in room_names %}
                    <option value="{{room}}">{{room}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="wrap-input">
                <input type="submit" value="Start Chatting">
            </div>
        </form>

    </div>
</div>

{% endblock %}