<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="container-global" style="background-image:url('static/background.jpg');">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Flack - Online Chatting</a>
            {% if username %}
            <span class="span ml-auto text-white" >
                Logged in as {{username}}
                {% block links %}{% endblock %}
                <a href="/logout" class="navigation-link">Logout</a>
            </span>
            {% endif %}
        </nav>
        {% block content %}{% endblock %}
    </div>
</body>
</html>