.navbar{
    position: fixed
}

.room-name{
    font-size: 14px;
    font-weight: bold;
    margin-left: 1vw;
}

.chat-list{
    height: 85vh;
    width: 100%;
    padding: 20px;
    padding-top: 80px;
    overflow-y: auto;
}

.chat-box{
    margin-top: 10px;
    height: 15vh;
    width: 100%;
    padding: 0px 40px 0px 40px;
    background-color: rgba(10,240,50, 0.3)
}

.message{
    background: white;
    border-radius: 20px;
    padding: 5px 50px 5px 20px;
    width: fit-content;
    float: left;
    clear: both;
    margin-top: 20px;
}

.message .message-name{
    font-size: 12px;
    font-weight: bold;
}
.message .message-text{
    font-size: 14px;
}


.wrap-message{
    float: left;
    padding-right: 4px;
}
.wrap-submit{
    float: right;;
}
